@model IEnumerable<Cliente>
  @{ ViewData["Title"] = "Index"; }

  <h1>Index</h1>

  <p>
    <a asp-action="Create">Create New</a>
  </p>
  <form asp-action="Index" asp-controller="Clientes" method="post">
    <div class="form-group">
      <label for="idSearch">Busqueda Cliente</label>
      <input
        type="search"
        name="searchString"
        id="idSearch"
        class="form-control"
      />
    </div>
  </form>
  <table class="table">
    <thead>
      <tr>
        <th>
          @Html.DisplayNameFor(model => model.id)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.dni)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.domicilio)
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @foreach (var item in Model) {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.id)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.dni)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.domicilio)
        </td>
        <td>
          <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
          <a asp-action="Details" asp-route-id="@item.id">Details</a> |
          <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
        </td>
      </tr>
      }
    </tbody>
  </table>
</Cliente>
